.match-card {
  background-color: #0959c7;
  border-radius: 12px;
  color: white;
  text-decoration: none;
  user-select: none;

  .match-main {
    background: linear-gradient(to bottom, #ff7000 0%, rgba(255, 112, 0, 0) 100%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    padding: 3px;
    border-radius: 15px 15px 0 0;
  }

  .teams-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    width: 140px;
    flex: 7;

    .team {
      display: flex;
      align-items: center;
      gap: 10px;

      img {
        width: 35px;
        height: 35px;
        border-radius: 50%;
        border: 2px solid #f7931e;
        padding: 2px;
        object-fit: cover;
      }

      p {
        font-size: 14px;
        font-weight: 600;
        color: white;
        margin: 0;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }

  .score-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 18px;
    width: 130px;
    flex: 3;

    .score-row {
      align-items: center;
      gap: 15px;

      .score-label {
        font-size: 14px;
        font-weight: 700;
        min-width: 80px;
      }

      .score-boxes {
        display: flex;
        gap: 8px;

        .score-box {
          background-color: #f7931e;
          color: white;
          font-weight: 600;
          font-size: 15px;
          height: 30px;
          border-radius: 6px;
          display: flex;
          justify-content: center;
          align-items: center;
          user-select: none;
        }
      }
    }
  }

  .match-footer {
    background-color: #061226;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    display: flex;
    justify-content: space-around;
    padding: 10px 0 0px 0;
    font-weight: 700;
    font-size: 14px;
    color: white;

    .footer-item {
      flex: 1;
      text-align: center;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}
