.setting-container {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
    max-width: 450px;
}

.setting-header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    color: #fff;
    background: var(--backgroud-color);
  }
  
  .setting-header .setting-ic-back {
    width: 26px;
    height: 26px;
    cursor: pointer;
  
  }
  
  .setting-header .setting-ic-back img {
    width: 100%;
    height: 100%;
  }
  
  .setting-header .setting-text {
    flex-grow: 1;
    margin: 0;
    font-size: 20px;
    text-align: center;
  }

.setting-menu {
    flex: 1;
    overflow: auto;
    padding: 15px 10px;
}

.setting-menu a {
  text-decoration: none;
}

.setting-menu-item {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    border-bottom: rgb(29, 30, 113) 1px solid;
}
.setting-item-title {
  color: white;
  font-size: 14px;
}

.setting-ic {
    width: 20px;
    height: 20px;
}

.setting-ic img {
    width: 100%;
}

.setting-item-version {
    color: #00aae6;
}

