.marquee_container {
  background: #000;
  color: #ccc;
  padding: 6px 10px;
  display: flex;
  align-items: center;
  gap: 10px;
  overflow: hidden;
  border-bottom: 1px solid #222;
}

.marquee_icon {
  color: #f77b0a;
  font-size: 14px;
}

.marquee_text_wrapper {
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
  position: relative;
}

.marquee_text {
  display: inline-block;
  padding-left: 100%;
  animation: marquee 12s linear infinite;
  font-size: 14px;
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}
