.modal-success-content {
    text-align: center;
    padding: 20px;
    max-width: 400px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.icon-success {
    background-color: #e9f9f5;
    border-radius: 50%;
    padding: 20px;
    display: inline-block;
    margin-bottom: 15px;
}

.icon-success img {
    width: 50px;
    height: 50px;
}

.modal-success-title {
    font-size: 24px;
    color: #0aa9d1;
    margin-bottom: 10px;
}

.modal-success-description {
    font-size: 16px;
    color: #555;
    margin-bottom: 20px;
}

.modal-success-actions {
    display: flex;
    justify-content: space-around;
}

.btn-go-home,
.btn-close {
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-go-home {
    background-color: #0aa9d1;
    color: #fff;
    text-decoration: none;
}

.btn-go-home:hover {
    background-color: #006c86;
}

.btn-close {
    background-color: #f8f9fa;
    color: #333;
    border: 1px solid #ccc;
}

.btn-close:hover {
    background-color: #e9ecef;
}
