.flex-end {
    justify-content: flex-end !important;
  }
  
  .deposit-container {
    background-image: url('../../../public/cskh/backcskh.png');
    margin: 0 auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
    overflow-y: auto;
    padding-top: 70px;
    height: 100vh;
  }
  
  .deposit-header {
    background-color: var(--backgroud-color);
    height: 50px;
    color: white;
    top: 0px;
    overflow: hidden;
    position: fixed;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 10px;
    box-sizing: border-box;
    z-index: 10;
  }

  .deposit-title {
    font-size: 20px;
  }
  .deposit-right {
    width: 35px;
  }
  .deposit-icon-history {
    width: 25px;
    height: 25px;
  }
  
  .deposit-icon-history img {
    width: 100%;
  }
  .deposit-link-name {
    font-size: 12px;
  }
  
  .balance-icon {
    display: flex;
    align-items: center;
    width: 30px;
  }
  
  .balance-icon img {
    width: 100%;
    height: 100%;
  }
  .deposit-balance-text {
    font-size: 14px;
  }
  
  .balance-value {
    font-size: 24px;
    font-weight: 600;
    float: right;
  }
  .deposit-method {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: 10px;
  padding: 0 10px;
}

.deposit-method-item {
  display: flex;
  align-items: center;
  justify-content: left;
  height: auto;
  width: 43%;
  padding: 5px;
  border: 1px solid var(--text-color);
  border-radius: 8px;
  background-color: var(--backgroud-color2);
  cursor: pointer;
  img{
    width: 30px;
    height: 30px;
  }
}

.deposit-method-item.active {
  border: 4px solid var(--button-color);
  background-color: var(--backgroud-color2);
  color: white;
}

.deposit-method-item.active .deposit-method-name {
  color: white;
}
  .adeposit {
    width: 100%;
    text-decoration: none;
  }
  
  .deposit-method-name {
    margin-left: 5px;
    font-size: 14px;
    font-weight: 400;
    color: var(--text-color);
    white-space: nowrap;
  }
  
  .deposit-input-qr {
    margin-top: 10px;
    padding: 10px;

  }
  
  .deposit-info-header {
    display: flex;
    align-items: center;
    font-size: 11px;
    color: var(--text-color);
    margin-bottom: 10px;
  }
  
  .deposit-input-box {
     display: flex;
                 align-items: center;
                 background-color: var(--backgroud-color2);
            border-radius: 8px;
                  padding: 10px 15px;
                  margin-top: 10px;
  }
  
  .deposit-input-box input {
    flex: 1;
    font-size: 16px;
    color: var(--text-color);
    border: none;
    outline: none;
  }
  
  .deposit-choice {
    margin-bottom: 10px;
    border-top: none;

  }
  
  .luuy-box {
  background: #1f1f1f;
  padding: 15px;
  border-radius: 15px;
  color: #fff;
  margin-top: 12px;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

.luuy-title {
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: 700;
  font-size: 15px;
  margin-bottom: 10px;
}

.luuy-title img {
  width: 30px;
  height: 30px;
}

.luuy-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.luuy-list li {
  font-size: 13px;
  margin-bottom: 6px;
  color: #ccc;
  display: flex;
  gap: 8px;
  line-height: 1.4;
}

.luuy-list li::before {
  content: "◆";       /* dấu kim cương */
  color: #ff8a00;      /* giống màu icon cảnh báo */
  font-size: 10px;
  margin-top: 3px;
}

  .deposit-result {
    font-size: 16px;
    color: var(--text-color);
    margin-bottom: 10px;
  }
  
  .deposit-units-label {
    font-size: 12px;
    color: var(--text-color);
    margin-bottom: 10px;
  }
  
  .deposit-buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
  }
  
  .deposit-buttons button {
    flex: 1 1 calc(30% - 10px);
    padding: 10px;
    font-size: 14px;
    background-color: var(--backgroud-color2);
    color: var(--text-color);
    border-radius: 5px;
    cursor: pointer;
  }
  
  .deposit-buttons button.active {
    color: #00aae6;
    border-color: #00aae6;
  }
  
  .deposit-received {
    font-size: 12px;
    color: var(--text-color);
    margin-bottom: 10px;
  }
  
  .deposit-warning-text {
    color: #e94951;
    font-size: 12px;
    text-align: justify;
  }
  
  .deposit-proceed {
    height: 64px;
    background-color: var(--backgroud-color);
    bottom: 0;
    box-shadow: 0 -3px 3px rgba(102, 102, 102, 0.2);
    padding: 10px;
    position: fixed;
    width: 100%;
    z-index: 10;
    box-sizing: border-box;
  }
  
  .btn-proceed {
    background-color: var(--button-color);
    border: none;
    line-height: 44px;
    text-align: center;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    font-stretch: normal;
    border-radius: 5px;
    font-style: normal;
    font-weight: 300;
    height: 44px;
    width: 100%;
  }
  
  .box-height {
    height: 100px;
  }
  
  @media screen and (min-width: 450px) {

    .deposit-proceed {
      width: 450px;
    }
    .deposit-header {
      width: 450px;
    }
  }
  