.header {
  width: 450px;
  background: var(--backgroud-color);
  display: flex;
  flex-direction: column; /* QUAN TRỌNG */
  padding: 0;
}
.header_top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 12px;
}
.logo {
  display: flex;
  align-items: center;
  padding: 5px;
  padding-left: 10px;
  gap: 10px;

  img {
    width: 90px;
  }
}
.div_login_text {
  color: white;
  font-weight: 600;
  cursor: pointer;
  background: linear-gradient(180deg, #f7931e -1.06%, #dd5906 102.84%),
              var(--color-primary-color-active, #f37d25);
  border-radius: 15px;
  padding: 7px 10px;
  position: relative;
  overflow: hidden;
}

.div_login_text::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 50%;
  height: 100%;
  background: linear-gradient(
    120deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.5) 50%,
    rgba(255, 255, 255, 0) 100%
  );
  transform: skewX(-20deg);
  animation: shine 2.2s infinite;
}

@keyframes shine {
  0% {
    left: -100%;
  }
  60% {
    left: 150%;
  }
  100% {
    left: 150%;
  }
}


.div_language {
  display: flex;
  align-items: center;
  gap: 10px;
  color: white;
  font-weight: 600;
  padding: 5px;
  padding-right: 10px;
  cursor: pointer;
  position: relative;
  /* For positioning the dropdown */
}
.imglanguage{
  height: 30px;
  width: 30px;
}
.language-dropdown {
  position: absolute;
  top: 100%;
  /* Places dropdown below the language selector */
  right: 10px;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  z-index: 1000;
  min-width: 120px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.language-item {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  color: #000;
  font-weight: 500;
  cursor: pointer;

  &:hover {
    background: #f0f0f0;
  }

  span {
    font-weight: 600;
  }
}

.logoname {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  /* Căn giữa theo chiều ngang */
  height: 20px;
  width: auto;
}

.div_sotien_text {
  display: flex;
  align-items: center;
  gap: 10px;
  color: white;
  font-size: 16px;
}

.div_sotien{
  font-weight: 600;
  font-size: 20px !important;
}

@media screen and (max-width: 600px) {
  .header {
    width: 100%;
    left: 0;
  }

  .div_login_text {
    font-size: 16px;
  }

  .logoname {
    height: 30px;
  }

  .div_languange {
    font-size: 20px;
  }
}

.logoname {
  width: 100px;
}
.taiapp-button{
  color: white;
  font-size: 17px;
  cursor: pointer;

}
.div_language {
  font-size: 20px;
}

.language-dropdown {
  right: 5px;
  min-width: 100px;
}

.language-item {
  font-size: 18px;
  padding: 8px;
}