.header-phantyso {
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  z-index: 10000;
  background-color: var(--backgroud-color);
  height: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  height: 40px;
}
.headerthethao{
  color: white;
  margin-right: 30px;
  font-weight: bold;
  font-size: 20px;
  background-color: var(--button-color) ;
  border-radius: 15px;
  padding: 5px;
}