.container-qrnaptien {
  min-height: 100vh;
  overflow: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.btnnapproceed {
  display: flex;
  justify-content: center;
}
.btn-proceed-nap {
  background-color: var(--button-color);
  border: none;
  line-height: 44px;
  text-align: center;

  cursor: pointer;
  font-size: 16px;
  font-stretch: normal;
  border-radius: 5px;
  font-style: normal;
  font-weight: 300;
  height: 44px;
  width: 50%;
  a {
    color: #fff !important;
  }
}

.maqr {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 30px;
}
.maqr h4 {
  margin: 2px;
  color: var(--text-color);
}
.maqr img {
  width: 250px;
  height: 250px;
}
.uniform p img {
  width: 20px;
  height: 20px;
}
.uniform {
  padding-left: 10px;
  padding-right: 10px;
}
.uniform p,
h3 {
  color: var(--text-color);
  margin: 5px;
  display: flex;
  align-items: center;
  gap: 5px;
  overflow: hidden;
  flex-wrap: wrap;
}
.demnguoc {
  color: var(--text-color) !important;
}
.body-qr {
  margin-top: 50px;
}
