.container-daily {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container-daily2 {
  margin-bottom: 50px;
  margin-top: 50px;
  flex: 1;
  overflow-y: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
  padding: 20px;
  box-sizing: border-box;
}

.header-daily {
  position: fixed;
  width: 450px;
  height: 60px;
  background-color: var(--backgroud-color);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.gift {
  display: block;
  width: 100%;
}

.link-section h4 {
  color: #7189ac;
  text-align: center;
  margin-bottom: 16px;
}

.avatar-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 16px;
  color: white;
  font-size: 20px;

  .img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-bottom: 8px;
  }
}

.avatar {
  width: 150px;

}

.link-box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.copy-button {
  background: none;
  border: none;
  color: #ffffff;
  cursor: pointer;
}

.qr-section {
  background-color: var(--backgroud-color2);
  display: flex;
  gap: 20px;
  align-items: center;
  border-radius: 8px;
  padding: 15px;
}

.qr-text-copy {
  color: var(--text-color);
  display: flex;
  font-size: 14px;
  padding: 10px 0;
}

.qr-code {
  width: 100px;
  height: 100px;
  background-color: #ffffff;
}

.qr-info p {
  margin: 0;
}

.save-qr {
  margin-top: 8px;
  background: linear-gradient(45deg, #0077ffc9, #6395ff);
  border: none;
  color: #ffffff;
  border-radius: 15px;
  padding: 4px 28px;
  cursor: pointer;
}

.stats {
  gap: 12px;
  margin-bottom: 16px;
}

.card {
  background-color: #131c41;
  border-radius: 10px;
  padding: 16px 24px;
  max-width: 400px;
  margin: 10px auto;
  color: rgba(255, 255, 255, 0.7);
}

.card h4 {
  font-size: 17px;
}

.table-container-daily {
  display: flex;
  flex-direction: column;
  color: white;
  overflow-y: auto;

  .row:first-child {
    background: linear-gradient(to right, #f5d488, #d4af37, #f5d488);
    color: black;
    font-weight: bold;
    text-align: center;
    box-shadow: inset 0 0 5px #c9a14a, 0 0 8px rgba(0, 0, 0, 0.2);
    padding: 10px;
  }
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px 0;
  border: 1px solid #d4af37;
  padding: 10px;
}

.row span {
  flex: 1;
  text-align: center;
  font-size: 13px;
  border-left: 1px solid #d4af37;

  &:first-child {
    text-align: left;
    border-left: none;
  }
}

.row span:first-child {
  text-align: left;
}

.link-text {
  color: var(--button-color);
  font-weight: 500;
  font-size: 15px;
}

.icon-copy {
  width: 20px;
}

.name-daily {
  font-weight: 600;
  font-size: 20px;
}

.menu-f123 {
  background-color: var(--backgroud-color2);
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.menuf123-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;

}

.menuf123-title {
  color: var(--text-color);
  font-weight: 600;
}

.menuf123-all {
  color: var(--button-color);
  font-weight: 600;
  cursor: pointer;
  font-size: 14px;
}

.menuf123-item {
  display: flex;
  align-items: center;
  gap: 10px;
}

.menuf123-item-content {
  padding: 1px;
  border-radius: 20px;

  border: 1px solid #917af7;
  font-size: 14px;
  font-weight: 600;
  background-color: white;

  div {
    background-color: #3e26a8;
    color: white;
    padding: 5px;
    border-radius: 20px;
  }
}

.menuf123-item-line {
  color: var(--text-color);
  font-size: 14px;
  font-weight: 600;
}

.menuf123-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
}

.content2 {

  border: 1px solid #dd5aee;

  div {
    background-color: #9e00b3 !important;
  }
}

.content3 {

  border: 1px solid #3bd47b;

  div {
    background-color: #00692c !important;
  }
}

.f123-cards {
  padding: 15px;
  border-radius: 15px;
  background: linear-gradient(135deg, #3b99e5, #004ba1);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
  margin: 20px 0;
  color: #fff;

  .f123-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;

    h3 {
      margin: 0;
      font-size: 18px;
      font-weight: 700;
    }

    a {
      color: #ffd700;
      text-decoration: none;
      font-weight: 600;
      font-size: 14px;
      transition: 0.3s;

      &:hover {
        color: #fff;
      }
    }
  }

  .f123-body {
    display: flex;
    justify-content: space-between;
    gap: 12px;
    flex-wrap: wrap;
  }

  .f123-card {
    flex: 1 1 30%;
    border: 2px solid #fff;
    border-radius: 15px;
    overflow: hidden;
    cursor: pointer;
    transition: transform 0.3s, box-shadow 0.3s;

    &:hover {
      transform: translateY(-5px) scale(1.05);
      box-shadow: 0 12px 25px rgba(0, 0, 0, 0.6);
    }

    .f123-card-inner {
      padding: 5px;
      border-radius: 12px;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      font-weight: 600;
      color: #333;

      .f123-card-title {
        font-size: 16px;
        margin-bottom: 5px;
      }

      .f123-card-level {
        font-size: 14px;
        color: #555;
      }
    }
  }
}

/* Responsive */
@media screen and (max-width: 600px) {
  .f123-body {
    flex-direction: column;
  }

  .f123-card {
    flex: 1 1 100%;
  }
}


@media screen and (max-width: 600px) {
  .header-daily {
    width: 100% !important;
  }

}