.header-phantyso {
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  z-index: 10000;
  background-color: var(--backgroud-color);
  height: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  height: 40px;
}
