.container-khuyenmai3 {
    margin-bottom: 50px;
    min-height: 100vh;
    flex: 1;
    overflow-y: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
    padding: 15px;
    box-sizing: border-box;
  }
.container-khuyenmai3 img{
    width: 100%;
    max-width: 450px;
    margin-top: 80px;
    margin-bottom: 80px;
}