.security-pass-container {
  max-width: 450px;
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  overflow: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.security-pass-header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  justify-content: space-between;
}

.pass-back-button img {
  width: 24px;
  height: 24px;
}

.security-pass-text {
  font-size: 18px;
  font-weight: bold;
  margin-left: 10px;
}

.security-pass-form {
  width: 100%;
}

.pass-form-group {
  position: relative;
  margin-bottom: 20px;
}

.pass-form-input {
  display: flex;
  align-items: center;
  background-color: var(--backgroud-color2);
  border-radius: 8px;
  padding: 10px 15px;
}

.pass-form-input input {
  padding: 5px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  outline: none;
  transition: border-color 0.2s ease;
  color: white;
  flex: 1;
  background-color: transparent;
}

.pass-form-input input:focus {
  border-color: #007bff;
}

.pass-form-input input:focus + label,
.pass-form-input input:not(:placeholder-shown) + label {
  top: -10px;
  font-size: 12px;
  color: #007bff;
  background: #fff;
  padding: 0 5px;
}

label {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  font-size: 16px;
  color: #888;
  transition: all 0.2s ease-in-out;
  pointer-events: none;
}

.hide-pass-img {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
  color: white;
}

.pass-note {
  display: flex;
  align-items: center;
  font-size: 12px;
  color: #888;
  margin-top: 5px;
}

.note-ic img {
  width: 16px;
  height: 16px;
  margin-right: 5px;
}

.pass-submit-button {
  width: 100%;
  padding: 10px;
  border: none;
  background-color: #007bff;
  color: white;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.pass-submit-button:hover {
  background-color: #0056b3;
}
