.modal-ketqua-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(3px);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
    animation: modal-fade-in 0.4s ease-out;
}

@keyframes modal-fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.modal-ketqua-container {
    position: relative;
    background: white;
    border-radius: 16px;
    padding: 30px 40px;
    max-width: 400px;
    width: 70%;
    text-align: center;
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.25);
    animation: modal-slide-up 0.4s ease-out;
}

@keyframes modal-slide-up {
    from {
        transform: translateY(40px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.modal-ketqua-title {
    font-size: 28px;
    color: #333;
    margin-bottom: 6px;
}

.modal-ketqua-content {
    font-size: 20px;
    color: #555;
    margin-bottom: 24px;
}
.modal-ketqua-buttons{
    display: flex;
    justify-content: center;
    gap: 20px;
}
.modal-ketqua-button {
    background-color: #ff5959;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    transition: background-color 0.2s ease;
}
.modal-ketqua-tiep{
    background-color: #009b1a;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    transition: background-color 0.2s ease;
}
.modal-ketqua-button:hover {
    background-color: #e64848;
}

/* Confetti (bắn pháo) */
.modal-ketqua-confetti {
    position: absolute;
    top: -20px;
    left: 50%;
    width: 10px;
    height: 10px;
    z-index: -1;
    animation: explode 1s ease-out forwards;
}

@keyframes explode {
    0% {
        box-shadow:
            0 0 #ffc107,
            0 0 #28a745,
            0 0 #17a2b8,
            0 0 #dc3545;
        opacity: 1;
    }

    100% {
        box-shadow:
            -100px -100px #ffc107,
            100px -80px #28a745,
            -120px 60px #17a2b8,
            80px 100px #dc3545;
        opacity: 0;
    }
}

@media screen and (min-width: 601px) {
    .modal-ketqua-container {
        width: 430px;
        max-width: 350px !important;
    }

}