.dangky_dangnhap {
    z-index: 100000 !important;

    .div_dangky_dangnhap {
        // height: 100%;
        background-color: var(--backgroud-color);
        position: fixed;
        bottom: 0;
        width: 450px;
    }

    .ant-modal {
        width: 450px !important;
        // height: 100%;
        top: 0 !important;
        z-index: 100000;
        padding-bottom: 0 !important;
        box-shadow: unset !important;

        div[tabindex="0"] {
            height: 100%;
        }
    }


    .ant-modal-content {
        border-radius: unset !important;
        padding: unset !important;
        height: 100%;
        box-shadow: unset !important;
    }

    .ant-modal-root {
        z-index: 100001 !important;
        position: fixed;
        top: 0;
        left: 0;
        width: 450px;
        height: 100vh;

    }

    .ant-input-outlined:hover {
        background-color: unset !important;
    }

    .ant-modal-body {
        height: 100%;
    }

    .header_dangky_dangnhap {
        width: 100%;
        height: auto !important;
    }

    .icon_back_dangnhap_dangky {
        font-size: 25px;
        color: white;
        margin-left: 10px;
        margin-top: 10px;
    }

    .div_logo_dangky_dangnhap {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        margin-top: 20px;
        margin-bottom: 10px;

        .img_logo {
            width: 130px;
        }
    }

    .div_dangky_dangnhap_content {
        padding: 10px;
        display: flex;
        justify-content: center;
    }

    .div_dangky_dangnhap_tab {
        width: 100%;
        height: auto;
        padding: 10px;
        border-radius: 10px;
        margin-top: 10px;
    }

    .btn_tab_container {
        display: flex;
        gap: 20px;
        align-items: center;

    }

    .btn_tab_item {
        font-size: 18px;
        font-weight: 600;
        color: #ffffff;
        cursor: pointer;
        padding: 10px;
        border-radius: 10px;
        text-align: center;
    }

    .btn_tab_item_active {
        background: linear-gradient(180deg, #f7931e -1.06%, #dd5906 102.84%),
            var(--color-primary-color-active, #f37d25) !important;
        color: white !important;
    }

    @media screen and (max-width: 600px) {
        .ant-modal-root {
            width: 100% !important;
        }

        .ant-modal {
            width: 100% !important;
            max-width: unset !important;
        }

        .div_dangky_dangnhap {
            width: 100%;
        }

    }
}