.wallet {
  display: flex;
  background: #201813;
  border-radius: 12px;
  padding: 0px 15px;
  width: 100%;
  max-width: 440px;
  box-sizing: border-box;
  color: white;
  user-select: none;
  margin: 10px;
}

.wallet-header {
  margin-bottom: 10px;
  margin-right: 10px;
}

.wallet-header .title {
  font-weight: 700;
  font-size: 15px;
}

.wallet-header .subtitle {
  font-size: 14px;
  color: #ff7000;  /* cam nhạt giống hình */
  margin-top: 4px;
  font-weight: 600;
  user-select: text;
}

.wallet-header .subtitle span {
  font-weight: 700;
  color: #ff7000;
}

.wallet-actions {
  display: flex;
  justify-content: flex-start;
  gap: 35px;
  align-items: center;
}

.nav-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  user-select: none;
}

.nav-item .icon {
  width: 35px;
  height: 35px;
  object-fit: contain;
  margin-bottom: 4px;
}

.nav-item span {
  font-size: 12px;
  color: white;
  font-weight: 600;
  user-select: text;
}

/* Hover nhẹ cho nút */
.nav-item:hover {
  opacity: 0.8;
  transform: scale(1.05);
  transition: all 0.2s ease-in-out;
}
