.trangchu_container {
  background-color: var(--backgroud-color);
  min-height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-width: none;
  -ms-overflow-style: none;
  position: relative;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.vongquay-wrapper {
  position: fixed;
  bottom: 8%;
  right: 39%;
  width: 80px;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
}
.imgvongquay {
  width: 65px;
  height: 65px;
  animation: spin 5s linear infinite, bounce 1.2s ease-in-out infinite;
}

/* Quay ảnh */
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Nhảy nhẹ lên xuống */
@keyframes bounce {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-10px); }
}

.modal_wheel {
  width: 430px !important;

  .ant-modal-title {
    text-align: center;
    font-size: 16px;

  }

  .ant-modal-content,
  .ant-modal-header {
    background-color: transparent !important;
  }

  .ant-modal-close {
    color: var(--backgroud-color2) !important;
    top: -10px !important;
    right: 0 !important;
    background-color: white;
    z-index: 10 !important;
  }
}

.ant-modal-mask {
  background-color: rgba(0, 0, 0, 0.65) !important;
}

.home_globby {
  display: flex;
  padding-block: 0;
  box-sizing: border-box;
  overflow: visible;
}

@media screen and (max-width: 600px) {
  .trangchu_container {
    width: 100%;
  }

  .vongquay-wrapper {
    right: 5% !important;
  }

  .modal_wheel {
    width: 100% !important;
  }

}