.bgrPG {
    background-image: url('../../../public/iconnohu2.png') !important;
    background-position: center 56.5217391304% !important;
    background-size: 100% auto !important;
    background-repeat: no-repeat !important;

    &.active-tab {
        background-image: url('../../../public/iconohu.png') !important;
        background-color: #0391e4e0;
    }
}

.bgrJILI {
    background-image: url('../../../public/iconnohu2.png') !important;
    background-position: center 34.7826086957% !important;
    background-size: 100% auto !important;
    background-repeat: no-repeat !important;

    &.active-tab {
        background-image: url('../../../public/iconohu.png') !important;
        background-color: #0391e4e0;
    }
}

.bgrMW {
    background-image: url('../../../public/iconnohu2.png') !important;
    background-position: center 95.652173913% !important;
    background-size: 100% auto !important;
    background-repeat: no-repeat !important;

    &.active-tab {
        background-image: url('../../../public/iconohu.png') !important;
        background-color: #0391e4e0;
    }
}

.bgrNS {
    background-image: url('../../../public/iconnohu2.png') !important;
    background-position: center 52.1739130435% !important;
    background-size: 100% auto !important;
    background-repeat: no-repeat !important;

    &.active-tab {
        background-image: url('../../../public/iconohu.png') !important;
        background-color: #0391e4e0;
    }
}

.bgrFC {
    background-image: url('../../../public/iconnohu2.png') !important;
    background-position: center 17.3913043478% !important;
    background-size: 100% auto !important;
    background-repeat: no-repeat !important;

    &.active-tab {
        background-image: url('../../../public/iconohu.png') !important;
        background-color: #0391e4e0;
    }
}

.bgrPP {
    background-image: url('../../../public/iconnohu2.png') !important;
    background-position: center 58.6956521739% !important;
    background-size: 100% auto !important;
    background-repeat: no-repeat !important;

    &.active-tab {
        background-image: url('../../../public/iconohu.png') !important;
        background-color: #0391e4e0;
    }
}

.bgrJDB {
    background-image: url('../../../public/iconnohu2.png') !important;
    background-position: center 2.1739130435% !important;
    background-size: 100% auto !important;
    background-repeat: no-repeat !important;

    &.active-tab {
        background-image: url('../../../public/iconohu.png') !important;
        background-color: #0391e4e0;
    }
}

.bgrCQ9 {
    background-image: url('../../../public/iconnohu2.png') !important;
    background-position: center 71.7391304348% !important;
    background-size: 100% auto !important;
    background-repeat: no-repeat !important;

    &.active-tab {
        background-image: url('../../../public/iconohu.png') !important;
        background-color: #0391e4e0;
    }
}

.bgrMG {
    background-image: url('../../../public/iconnohu2.png') !important;
    background-position: center 73.9130434783% !important;
    background-size: 100% auto !important;
    background-repeat: no-repeat !important;

    &.active-tab {
        background-image: url('../../../public/iconohu.png') !important;
        background-color: #0391e4e0;
    }
}

.bgrFS {
    background-image: url('../../../public/iconnohu2.png') !important;
    background-position: center 23.9130434783% !important;
    background-size: 100% auto !important;
    background-repeat: no-repeat !important;

    &.active-tab {
        background-image: url('../../../public/iconohu.png') !important;
        background-color: #0391e4e0;
    }
}

.bgrPS {
    background-image: url('../../../public/iconnohu2.png') !important;
    background-position: center 60.8695652174% !important;
    background-size: 100% auto !important;
    background-repeat: no-repeat !important;

    &.active-tab {
        background-image: url('../../../public/iconohu.png') !important;
        background-color: #0391e4e0;
    }
}

.bgrYB {
    background-image: url('../../../public/iconnohu2.png') !important;
    background-position: center 86.9565217391% !important;
    background-size: 100% auto !important;
    background-repeat: no-repeat !important;

    &.active-tab {
        background-image: url('../../../public/iconohu.png') !important;
        background-color: #0391e4e0;
    }
}

.bgrVA {
    background-image: url('../../../public/iconnohu2.png') !important;
    background-position: center 97.8260869565% !important;
    background-size: 100% auto !important;
    background-repeat: no-repeat !important;

    &.active-tab {
        background-image: url('../../../public/iconohu.png') !important;
        background-color: #0391e4e0;
    }
}

.bgrPA {
    background-image: url('../../../public/iconnohu2.png') !important;
    background-position: center 84.7826086957% !important;
    background-size: 100% auto !important;
    background-repeat: no-repeat !important;

    &.active-tab {
        background-image: url('../../../public/iconohu.png') !important;
        background-color: #0391e4e0;
    }
}

.bgrHB {
    background-image: url('../../../public/iconnohu2.png') !important;
    background-position: center 30.4347826087% !important;
    background-size: 100% auto !important;
    background-repeat: no-repeat !important;

    &.active-tab {
        background-image: url('../../../public/iconohu.png') !important;
        background-color: #0391e4e0;
    }
}

.bgrAP {
    background-image: url('../../../public/iconnohu2.png') !important;
    background-position: center 8.6956521739% !important;
    background-size: 100% auto !important;
    background-repeat: no-repeat !important;

    &.active-tab {
        background-image: url('../../../public/iconohu.png') !important;
        background-color: #0391e4e0;
    }
}

.nomgtop{
    margin-top: unset !important;
}