.security-phone-container {
  max-width: 450px;
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  overflow: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.security-phone-form {
  width: 85%;
  margin: 16px auto 0 auto;
  display: flex;
  flex-direction: column;
}

.phone-form-group {
  width: 100%;
  margin-bottom: 20px;
  .tcapnhat {
    color: white;
    margin-bottom: 10px;
  }
}

.phone-form-group label {
  display: block;
  margin-bottom: 5px;
  color: var(--text-color);
}

.phone-form-group input {
  height: 100%;
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  outline: none;
  background-color: transparent;
  color: var(--text-color);
  box-sizing: border-box;
  font-size: 16px;
}

.refresh-button {
  background: none;
  border: none;
  color: #67e3f9;
  cursor: pointer;
  font-size: 20px;
  padding: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.phone-submit-button {
  padding: 10px 20px;
  background: var(--button-color);
  border: none;
  border-radius: 50px;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  display: block;
  margin: 0 auto;
}
