.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 999; 
}
.otp-modal {

    .ant-modal-content {
        border-radius: 16px;
        padding: 24px;

        h2 {
            text-align: center;
            font-weight: 600;
            margin-bottom: 8px;
            color: var(--text-color);
        }

        p {
            text-align: center;
            color: var(--text-color);
            margin-bottom: 16px;
        }

        .otp-input {
            letter-spacing: 8px;
            text-align: center;
            font-size: 24px;
        }

        .ant-btn {
            font-weight: 500;

            span {
                color: white;
            }
        }
    }
}

.resend-btn {
    background-color: #ff9800;
    color: #fff;
    border: none;

    &:hover,
    &:focus {
        background-color: #fb8c00 !important;
        color: #fff;
    }

    &:disabled {
        background-color: #9e5f00;
        color: #aaa;
        cursor: not-allowed;
    }
}


.otp-input-group {
    display: flex;
    justify-content: center;
    gap: 12px;
    margin-top: 16px;
}

.otp-box {
    width: 38px;
    height: 38px;
    font-size: 24px;
    text-align: center;
    border: 1px solid #d9d9d9;
    border-radius: 8px;
    outline: none;
    transition: border 0.2s ease;

    &:focus {
        border-color: #1677ff;
        box-shadow: 0 0 0 2px rgba(5, 145, 255, 0.2);
    }
}