.date-custom {
  position: relative;
  display: inline-block;
  width: 100%;
  z-index: 1000000;
}

.date-input1 {
  width: 100%;
  font-size: 16px;
  cursor: pointer;
  border: none;
  outline: none;
  text-align: center;

}

.calendar {
  position: absolute;
  top: 100%;
  left: 0;
  width: 280px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 10000;
}

.calendar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #007bff;
  color: white;
  padding: 8px 12px;
  font-size: 16px;
  font-weight: bold;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.calendar-header button {
  background: none;
  border: none;
  color: white;
  font-size: 18px;
  cursor: pointer;
}

.calendar-body {
  padding: 8px;
}

.calendar-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 4px;
  text-align: center;
}

.day-name {
  font-weight: bold;
  padding: 5px 0;
  color: #555;
}

.empty-cell {
  visibility: hidden;
}

.day {
  padding: 8px;
  border-radius: 50%;
  cursor: pointer;
  font-size: 14px;
  background: #f8f9fa;
  transition: background 0.2s;
  color: black;
}

.day:hover {
  background: #ddd;
}

.today {
  background: #fff6d4 !important;
  font-weight: bold;
}

.selected-start {
  background: #007bff !important;
  color: white;
  font-weight: bold;
}

.selected-end {
  background: #007bff !important;
  color: white;
}

.in-range {
  background: #cce5ff;
}