.about-me-container {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  overflow: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
  max-width: 450px;
}

.about-me-header {
  position: fixed;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  color: #fff;
  background: var(--backgroud-color);
}

.about-me-header .about-me-icback {
  width: 26px;
  height: 26px;
  cursor: pointer;
}

.about-me-header .about-me-icback img {
  width: 100%;
  height: 100%;
}

.about-me-header .about-me-text {
  flex-grow: 1;
  margin: 0;
  font-size: 20px;
  text-align: center;
}

.about-me-content {
  color: white !important;
  margin-top: 30px;
  padding: 20px 15px;
  flex: 1;
}

.about-me-content * {
  color: white !important;
}

.para-about-me {
  font-size: 14px;
}

@media screen and (min-width: 450px) {

  .about-me-header {
    width: 450px;
  }
}