.item_game_img_ds {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.item_game_name_ds {
    width: 100%;
    margin: .274rem auto 0;
    color: #fff;
    text-align: center;
    font-size: .822rem;
    font-weight: 400;
    line-height: .98092rem;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    word-break: break-word;
    pointer-events: none;

}

.gridchia {
    grid-template-columns: repeat(3, 1fr) !important;
}

.gridchia4 {
    grid-template-columns: repeat(4, 1fr) !important;
}

.noheight {
    height: unset !important;
}