.security-container {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
    max-width: 450px;
}

.security-menu {
    flex: 1;
    overflow: auto;
    padding: 15px 10px;
}
.security-menu a{
  text-decoration: none;
  color: black;
}
.security-menu-item {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    border-radius: 5px;
    border-bottom: rgb(29, 30, 113) 1px solid;
    img{
      width: 20px;
      height: 20px;
    }
}
.menu-item-title {
  color: white !important;
}
.menu-item-subtitle {
    color: #00aae6;
}

